<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 <suite name="Parallel_Testing" parallel="classes" thread-count="4">

   <test name = "Sample">
      <classes>
         <class name = "Test.MercuryTest" />
         <class name = "Test.MercuryTest2" />
      </classes>
   </test>
  
   
  
</suite>  

